{% extends 'base.html' %}
{% block body %}


<div class="container-fluid">
  {% if form %}
    <form method="POST", action=''>

      {{ form.csrf_token }}
      <table class="table table-striped table-hover table-sm text-center">
          <tr>
            <td>States:</td>
            <td>{{ form.states }}</td>
          </tr>
          <tr>
            <td>Cases:</td>
            <td>{{ form.cases }}</td>
          </tr>
          <tr>
            <td>Recovered:</td>
            <td>{{ form.recovered }}</td>
          </tr>
          <tr>
            <td>Deaths:</td>
            <td>{{ form.deaths }}</td>
          </tr>
          <tr>
            <td>Fatality:</td>
            <td>{{ form.fatality }}</td>
          </tr>

        </table>
          <br>
        <table>
          <tr>
            <td><input type="submit" formaction="{{url_for('update_case', states=form.states)}}" value="Update" class="btn btn-info"></td>
            <td><input type="submit" formaction="{{url_for('delete_case', states=form.states)}}" value="Delete" class="btn btn-info"></td>
          </tr>
        </table>
    </form>
  {% endif %}
</div>
{% endblock %}
